.container {
  margin: 40px 0 60px 62px;
  gap: 158px;
  display: grid;
  grid-template-columns: minmax(100px, 289px) minmax(100px, 463px) minmax(
      100px,
      463px
    );
}

@media screen and (max-width: 1600px) {
  .container {
    gap: 60px;
  }
}
