.container {
  max-width: 289px;
  width: 100%;
  max-height: 224px;
  height: 224px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headingBlock,
.block,
.line {
  color: transparent !important;
  background: linear-gradient(
    90.05deg,
    #1f76a7 30.47%,
    rgba(31, 118, 167, 0.1) 57.74%
  );
  opacity: 0.4;
  border-radius: 6px;
  animation-delay: 200ms;
  animation-duration: 3s;
  animation-name: Loading;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  background-size: 250%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headingBlock {
  height: 24px;
  min-width: 100%;
  margin-bottom: 10px;
}

.block {
  height: 16px;
  max-width: 206px;
}

.line {
  height: 1px;
  width: 100%;
}


.container:has(.headingBlock) {
  gap: 18px;
}

@keyframes Loading {
  to {
    background-position: 70% 0;
  }
}
