.mainPage {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  color: #f5f5f5;
  /* background: radial-gradient(
    67.53% 67.53% at 10.47% 30.01%,
    #073a5b 25.35%,
    #001f33 100%
  ); */
  background: url(../../../images/bg-images.png) no-repeat;
  background-size:cover;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.blockWithLink {
  max-width: 505px;
  margin-top: 280px;
  margin-bottom: 126px;
}

.heading {
  font: 700 48px/65px "Nunito";
  margin: 0;
}

.caption {
  font: 400 24px/33px "Nunito";
  margin: 24px 0 100px;
}

.keyOpportunitiesContainer {
  padding-top: 115px;
}

.keyOpportunitiesTitle {
  margin-bottom: 60px;
  padding: 0;
  text-align: center;
  font: 700 36px/49px "Nunito";
  color: #f5f5f5;
}

.cardsContainer {
  padding: 50px 70px;
  display: flex;
  gap: 200px;
  justify-content: space-between;
  position: relative;
}

.line {
  position: absolute;
}

.cornerLineLeft {
      bottom: -11px;
        left: 26px;
}

.straightLine {
  bottom: 32px;
    left: 40%;
}

.cornerLineRight {
  bottom: 95px;
    right: 42px;
}