.button {
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #000;
}

.default {
  text-align: center;
  position: relative;
  color: #fff;
  display: block;
  z-index: 2;
  overflow: hidden;
}

.default:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(46.85deg, #3470fa 14.82%, #50eafd 84.65%);
  background-size: 50% 100%;
}

.contentContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 17px 45.5px;
  box-sizing: border-box;
}

.default .contentContainer {
  margin: 2px;
  position: relative;
  z-index: 2;
  border-radius: 8px;
  height: 100%;
}

.content {
  margin: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.default:hover {
  /* background: rgba(5, 60, 91, 1); */
}

.default:hover:before {
  background: #fff;
}

.default:hover .contentContainer {
  background: rgba(5, 60, 91, 1);
}

.default:active {
  background: linear-gradient(46.85deg, #3470fa 14.82%, #50eafd 84.65%);
  background-size: 200% 0%;
}

.default:active:before {
  background: linear-gradient(46.85deg, #3470fa 14.82%, #50eafd 84.65%);
  opacity: 1;
}

.default:active .contentContainer {
  background: #fff;
}

.default:active .content {
  background: linear-gradient(46.85deg, #3470fa 14.82%, #50eafd 84.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.arrow {
  width: 44px;
  height: 44px;
}

.transparent {
  background: transparent;
  color: #fff;
}

.transparent:hover {
  opacity: 0.5;
}
