.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: radial-gradient(
    67.53% 67.53% at 10.47% 30.01%,
    #073a5b 25.35%,
    #001f33 100%
  );
  transition: 0.5s;
  z-index: 2;
}

.sideContainer {
  display: flex;
}

.sideName {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #f5f5f5;
}

.infoContainer {
  width: 330px;
  margin-bottom: auto;
  display: flex;
  gap: 5px;
  align-items: center;
}

.hideButton {
  width: 100%;
  height: 20px;
  border: none;
  background: #21648a;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  position: relative;
  cursor: pointer;
}

.hideButtonIsHidden {
  display: none;
}

.imgButton {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-2010deg);
}

.imgButtonHide {
  display: none;
}

.sidebarIsClosed {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: radial-gradient(
    67.53% 67.53% at 10.47% 30.01%,
    #073a5b 25.35%,
    #001f33 100%
  );
  transition: 0.2s;
  transform: translateY(+200%);
}

.infoContainerIsHidden {
  visibility: hidden;
}

.analyticsContainer {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 62px;
  gap: 158px;
  display: grid;
  grid-template-columns:
    minmax(150px, max-content)
    minmax(200px, max-content)
    minmax(350px, 445px);
}

.openButton {
  cursor: pointer;
  position: fixed;
  bottom: 0%;
  width: 18%;
  z-index: 10;
  display: flex;
  align-items: center;
  background: #053C5B;
  border: 0;
}

.openArrow {
  margin-left: auto;
  transform: translate(-50%, -50%);
  transform: rotate(-2010deg);
}

@media screen and (max-width: 1600px) {
  .analyticsContainer {
    gap: 120px;
    margin-left: 30px;
    grid-template-columns: minmax(120px, max-content) minmax(150px, 200px) minmax(
        250px,
        400px
      );
  }
}
