.header {
  padding: 25px 40px 0 40px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header > div:last-child {
  margin-left: auto;
}

.image {
  width: 240px;
  height: 57.55px;
  margin-top: auto;
  margin-bottom: auto;
}

.demo::before {
  margin-top: -12.27px;
  content: "";
  background: linear-gradient(16.85deg, #3470fa 0.82%, #50eafd 0%);
  border-radius: 5px;
  width: 4px;
  height: 50px;
  float: left;
  margin-right: 68px;
}

.demo {
  padding-top: 12.27px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 68px;
  font: 700 24px/33px "Nunito";
  color: #fff;
}

.link {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.back {
  font: 500 20px/27px "Nunito";
  color: #f5f5f5;
}

.arrowLeft {
  width: 44px;
  height: 44px;
}
